//- section.history-section.hide__content
//-   h3.history-title History
//-   table.history 
//-     thead
//-       tr.tr-head
//-         th Date
//-         th Modified
//-         th Action Taken
//-         th Modified Item
//-         th Modified Item ID
//-         th Unload Quantity
//-         th Modified By

//-     tbody
//-       each history in allHistory
//-         tr 
//-           td= history.date
//-           td= history.modified
//-           td= history.action
//-           td= history.modifiedName
//-           td= history.modifiedID
//-           td.unloadCountTable= history.unloadCount
//-           td #{history.user}, #{history.userID}

//- button.btn.btn--green.btn-history History







