doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet' href='/css/styles.css')
    title Trackoala
    link(href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css', rel='stylesheet')
    link(rel='icon' href='/images/trackoala_logo_icon.png' type='image/x-icon')
  body 
    include _header

    block content

    footer

    //- footer 
    //-   p &#169;2024 All Apple Are Reserved

    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js')
    //- script(src='/js/login.js')
    script(src='/js/bundle.js')

    
    

