extends base

block content
  main.main
    h2.heading-secondary.ma-bt-lg.add-supplier-heading Suppliers
    .flex-container-supplier
      a(href='/inventory/addInventory').supplier-container.supplier-container-1  Add Inventory 
      a(href='/inventory/getAll').supplier-container.supplier-container-2 View Inventory