<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Management</title>
    <link rel="stylesheet" href="css/styles.css" type="text/css">

</head>

<body>
    <div class="sticky-nav sticky-nav-top">
        <nav class="header-nav">
            <div class="appName">
                <span class="bold">Inventory Management</span>
                <img class="bold" src="logo.png" height="40" width="50" alt=".">
            </div>
            <div class="nav-bar">
                <ul class="nav-bar-list nav-bar-list-after-scroll">
                    <li class="nav-item">Feature</li>
                    <li class="nav-item">Pricing</li>
                    <li class="nav-item">Contact Us</li>
                    <li class="nav-item">Log In</li>
                    <li class="nav-item"><button class="btn sign-up-btn">Sign Up</button></li>
                </ul>
            </div>
        </nav>
    </div>

    <main>
    </main>

    <footer>
        <p>&#169;2024 All Apple Are Reserved</p>
    </footer>

</body>

</html>